<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <header>
        <h1>Gestión de Notificaciones para <%= user.name %>!</h1>
        <h2><%- htmlMessage %></h2>
    </header>
    <main>
        <section>
            <h2>Lista de Notificaciones</h2>
            <ul class="list">
                <% data.notificaciones.forEach(notificacion=> { %>
                    <li class="item">
                        <strong>
                            <%= notificacion.fecha %>
                        </strong>
                        <span>Tipo: <%= notificacion.tipo %></span>
                        <a href="/notificaciones/<%=notificacion.id_notificacion%>">Ver detalles...</a><br>
                        <a href="/notificaciones/editarNotificaciones/<%=notificacion.id_notificacion%>">Editar Notificación</a>
                    </li>

                    <% }) %>
            </ul>
        </section>
    </main>
</body>

</html>