<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header>
        <h1>Gestión de Recursos para <%= user.name %>!</h1>
        <h2><%- htmlMessage %></h2>
    </header>
    <main>
        <section>
            <h2>Lista de Recursos</h2>
            <ul class="list">
                <% data.recursos.forEach(recurso => { %>
                    <li class="item">
                        <strong><%= recurso.nombreRe %></strong>
                        <span>Estado: <%= recurso.estadoRecurso %></span>
                        <a href="/recursos/<%=recurso.id_recurso%>">Ver detalles...</a><br>
                        <a href="/recursos/editarRecursos/<%=recurso.id_recurso%>">Editar Recurso</a>
                    </li>
                <% }) %>
            </ul>
        </section>
    </main>
</body>
</html>