<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
    <header>
        <h1>Gestión de Usuarios para <%= user.name %>!</h1>
        <h2><%- htmlMessage %></h2>
    </header>
    <main>
        <section>
            <h2>Lista de Usuarios</h2>
            <ul class="list">
                <% data.usuarios.forEach(usuario => { %>
                    <li class="item">
                        <strong><%= usuario.nombre %></strong>
                        <span><%= usuario.correo %></span>
                        <a href="/usuarios/<%=usuario.id_usuario%>">Ver detalles...</a><br>
                        <a href="/usuarios/editarUsuarios/<%=usuario.id_usuario%>">Editar Usuario</a>
                    </li>
                <% }) %>
            </ul>
        </section>
    </main>
</body>
</html>